.contact {
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: url(../../assets/img/photo-bg3.webp) center/cover no-repeat fixed;
  @media screen and (min-width:320px) and (max-width:480px) {
    height: 120vh;
  }
  & h2 {
    font-size: 4rem;
    font-family: $font1;
    font-weight: 400;
    margin: 50px;
    text-transform: capitalize;
    color: $primary;
    @media screen and (min-width:320px) and (max-width:480px) {
      font-size: 2rem;
      margin-top: 70px;
    }
  }
  & .contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 700px;
    background: $primary;
    opacity: 0.7;
    margin-bottom: 30px;
    @media screen and (min-width:320px) and (max-width:480px) {
      width: 250px;
    }
    @media screen and (min-width:481px) and (max-width:768px) {
      width: 400px;
    }
    & input,
    textarea,
    button {
      margin: 20px 0;
      width: 400px;
      height: 40px;
      text-align: center;
      font-family: $font2;
      text-transform: uppercase;
      outline: none;
      @media screen and (min-width:320px) and (max-width:480px) {
        width: 200px;
      }
      @media screen and (min-width:481px) and (max-width:768px) {
        width: 300px;
      }
      
    }
    & textarea {
      resize: none;
      height: 200px;
    }
    
  }
   button {
    background: $tertiary;
    color: $primary;
    font-family: $font2;
    font-weight: bold;
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 12px;
    border: none;
    margin: 30px;
    cursor: pointer;
    &:hover {
      background: $primary;
      opacity: 0.7;
      color: black;
    }
    @media screen and (min-width:320px) and (max-width:480px) {
      padding: 7px;
      font-size: 0.7rem;
    }
  }
}
